<main style="display: flex; align-items:center; justify-content:center; width: 100vw; height: 100vh;">
  <section style="display: flex; flex-direction:column; align-items:flex-start; justify-content:center">
    <app-widget-wrapper>
      <h2 style="font-size: 1em;" title>Refreshing all widgets with one click.</h2>
      <app-widget-weather></app-widget-weather>
      <app-widget-ads></app-widget-ads>
    </app-widget-wrapper>

    <app-widget-wrapper>
      <h2 style="font-size: 1em;" title >Refreshing one widget on click.</h2>
      <app-widget-weather></app-widget-weather>
      </app-widget-wrapper>
  </section>


</main>
